<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="/short" method="post">
        <input type="url" required name="fullurl" id="fullurl" placeholder="URL">
        <button type="submit">Shrink This</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Full link</th>
                <th>Short link</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shorturls.forEach(shorturl => {%>
            <tr>
                <td><a href="<%= shorturl.full %>"> <%= shorturl.full %> </a></td>
                <td><a href="<%= shorturl.short %>"> <%= shorturl.short %> </a></td>
                <td> <%= shorturl.clicks %> </td>
            </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>